extends layout

block content
    div
      a(href="/" rel="noreferrer noopener")
        h2.rainbow Sarthak's Tasks
      p
        em Yes, this is live from my to-do list. It is not static and yup, this is exactly how organized it is too :)
      p= taskList
      //each date in dates
        p= date
        p= taskList
      //ul
        each task,date in tasks,dates
          li #{task} Due: #{date}
        else
          p 😃 Sarthak's to-do list is E-M-P-T-Y. Shouldn't be, but is. Why not bother him? 210-727-3516. He's very good at 8ball.